<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.app.mapper.user.UserMapper">

    <select id="insertUser" resultType="UserBaseDto" parameterType="UserBaseDto">
        INSERT
            INTO USER_BASE (EMAIL, PASSWORD, NAME, PHONE)
            VALUES (#{email}, #{password}, #{name}, #{phone})
        RETURNING NAME
    </select>

    <select id="selectUser" resultType="UserBaseDto" parameterType="UserBaseDto">
        SELECT EMAIL, PASSWORD, NAME, PHONE
        FROM USER_BASE
        WHERE EMAIL = #{email}
    </select>

</mapper>