<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.app.mapper.user.UserMapper">

    <select id="insertUser" resultType="UserBaseDto" parameterType="UserBaseDto">
        INSERT
            INTO USER_BASE (
                EMAIL
                , NAME
                , PHONE
                <if test="password != null and password != ''">
                    , PASSWORD
                </if>
                <if test="social != null and social != ''">
                    , SOCIAL
                </if>
            )
            VALUES (
                #{email}
                , #{name}
                , #{phone}
                <if test="password != null and password != ''">
                    , #{password}
                </if>
                <if test="social != null and social != ''">
                    , #{social}
                </if>
            )
        RETURNING NAME
    </select>

    <select id="selectUser" resultType="UserBaseDto" parameterType="UserBaseDto">
        SELECT EMAIL, PASSWORD, NAME, PHONE, SOCIAL
        FROM USER_BASE
        WHERE EMAIL = #{email}
    </select>

</mapper>